# Python- Class 3
   * Basic Operation with String Types
        - strip, rstrip, lstrip
        - Split, Join Method
        - Concatenation
            + Using %
            + Using +
            + Using f
            + Using .format wihtout naming and with naming
   * Arithematic Operations
        - Basic Operators
        - Comparison Operators
        - Assignment Operators
        - Logical Operators
        - Bitwise Operators
        - Membership Operators
        - Identity Operators
   * If statements
   * Comparison Operators: ==, !=, >=, <=, >, <
   * Else, Elif Statements
   * Testing Sets of Conditions
   * Nested if/else

**String Stripping**

In [26]:
# .strip, .lstrip, .rstrip -->use len
name1 = "         muhammad adan       "
print(len(name1))
name1 = name1.rstrip()
print(len(name1))
name1 = name1.lstrip()
print(len(name1))
name1

29
22
13

'muhammad adan'

**Split and Join**

In [42]:
# Split into list
p = "I love Pakistan. I live in Pakistan"
n = p.split()
print(n)

['I', 'love', 'Pakistan.', 'I', 'live', 'in', 'Pakistan']

In [46]:
# Join using ,
k = ' '
print(k.join(n))

I love Pakistan. I live in Pakistan

**Concatenation**

In [48]:
# card multi-line str
card = '''
Student Name: Muhammad Adan
Batch: 3
Center: Bahria Uni
'''
print(card)

Student Name: Muhammad Adan
Batch: 3
Center: Bahria Uni

In [63]:
name = 'Hamza'
batch = '3'
center = 'Bahria Uni'
quiz_score = 90
# using % and %s and \ for long lines
print("Student name: %s \
\nBatch: %s\nCenter: %s"%(name,batch,center))

Student name: Hamza
Batch: 3
Center: Bahria Uni

In [66]:

# using % and %s,%d and \ for long lines
print("Student name: %s\nBatch: \
%s\nCenter: %.s\nQuiz Score: %d"\
      %(name,batch,center,quiz_score))

Student name: Hamza
Batch: 3
Center: Bahria Uni
Quiz Score: 90

In [87]:
# using +
print("Student name: " + name + "\nBatch: " + batch \
     + "\nCenter: " + center + "\nQuiz Score: ")

Student name: Hamza
Batch: 3
Center: Bahria Uni
Quiz Score:

In [88]:
# above old methods--> new methods
# using f and curly braces inside
print(f"Student name: {name} \nBatch: \
{batch} \nCenter: {center} \nQuiz Score: {quiz_score}")

Student name: Hamza
Batch: 3
Center: Bahria Uni
Quiz Score: 90

In [92]:
# using .format method of str class
print("Student name: {n} \nBatch: {} \nCenter:\
{} \nQuiz Score: {}".\
      format(name,batch,center,n=quiz_score))

Student name: 90
Batch: Hamza
Center:3
Quiz Score: Bahria Uni

In [ ]:
# using .format with index numbers

**String and Number Addition/Multiplication**

In [36]:
# int + int
20 + 18

38

In [37]:
# str + str

'my name is Umar'

In [38]:
# variable + str
shoe_color = "brown"
"my shoe color is " + shoe_color

'my shoe color is brown'

In [41]:
# int * int
3.5 * 3

10.5

In [40]:
# str * int

'my name is my name is my name is '

In [42]:
# str + int

TypeError: can only concatenate str (not "int") to str

In [44]:
# str + str
print("The sum of 2 + 2 is: " + '4')

The sum of 2 + 2 is: 4

**If statements**

In [63]:
# simple if with ==
species

Yep, it's cat.

In [66]:
# with multiple lines

Yep, it's cat.

In [65]:
print(status)
print(kingdom)

ok
animal

In [67]:
# if on numbers

Everything makes sense.

In [68]:
# if on number variables
age = 25

So far so good.

**Comparison Operators**

In [69]:
# ==

False

In [71]:
# !=

True

In [73]:
# if with !=
your_ticket_number = 5

Better luck next time.

In [74]:
# Like ==, the not-equal operator can be used to compare numbers, strings,
# variables, math expressions, and combinations.
# Like ==, string comparisons using the not-equal operator are case-sensitive.

In [75]:
# > is greater than
# < is less than
# >= is greater than or equal to
# <= is less than or equal to

In [76]:
if 1 > 0:
    print("True")

True

In [81]:
if 0 < 1:
    print("True")

True

In [84]:
if 1 >= 0:
    print("True")

True

In [85]:
if 1 <= 1:
    print("True")

True

**Else and Elif Statements**

In [86]:
# multiple opposite ifs with == and !=

Yep, it's cat.

In [ ]:
# The following code is more concise, less goofy, and more readable.

* The keyword else gets its own line and a colon at the end.
* Statements that execute in the else case are indented.
* As in the if case, any number of statements can execute in the else case.

In [90]:
# if, elif, else
donut_price = "low"

In [91]:
print(buy_score)

5

**Testing Sets of Conditions**

**and, or, not: combining multiple conditions, negating conditions**

In [99]:
# and
weight = 70
time = 18

In [100]:
print(status)

try to recruit him

In [104]:
# multiple ands
height = 55

In [105]:
print(status)

try to recruit him nowww

In [118]:
# multiple or
test = 28
avg = 25
GPA = 1.5
parent = "not alum"

In [119]:
print(message)

Welcome to Bahria Uni!

**Nested if/else**

In [120]:
c=4
d=4
x=5
y=5
a=6
b=2
g=9
h=8
if c == d:
    if x == y:
        g = h
    elif a == b:
        g = h
    else:
        e = f
else:
    e = f