In [1]:
personData = {
    "name" : "Ali",
    "age" : 50
}

In [2]:
hobbies = ["reading", "travelling"]

In [3]:
personData["hobbies"] = hobbies
personData

{'name': 'Ali', 'age': 50, 'hobbies': ['reading', 'travelling']}

In [4]:
personData.update({
    "hobbies" : hobbies
})

In [6]:
personData

{'name': 'Ali', 'age': 50, 'hobbies': ['reading', 'travelling']}

In [7]:
workExp = {
    "title" : "web developer",
    "startDate" : 2015,
    "endDate" : 2019
}

In [8]:
personData.update({
    "experience" : workExp
})

In [9]:
personData

{'name': 'Ali',
 'age': 50,
 'hobbies': ['reading', 'travelling'],
 'experience': {'title': 'web developer', 'startDate': 2015, 'endDate': 2019}}

In [11]:
personData["nam"]

KeyError: 'nam'

In [15]:
personData.get("name")

'Ali'

In [13]:
personData["experience"]

{'title': 'web developer', 'startDate': 2015, 'endDate': 2019}

In [14]:
personData["experience"]["title"]

'web developer'

In [16]:
a = 6
b = 6
id(a)

140713483727280

In [17]:
id(b)

140713483727280

In [18]:
a is b

True

In [19]:
list1 = ['Ali', 'Kamran', 'Rashid']
list2 = list1
print(list1)
print(list2)

['Ali', 'Kamran', 'Rashid']
['Ali', 'Kamran', 'Rashid']

In [20]:
list2.append("Zahid")
list2

['Ali', 'Kamran', 'Rashid', 'Zahid']

In [21]:
list1

['Ali', 'Kamran', 'Rashid', 'Zahid']

In [22]:
id(list1)

2262152945928

In [23]:
id(list2)

2262152945928

In [24]:
id(list1)

2262152945928

In [25]:
list3 = list2.copy()
list3.pop()
list3

['Ali', 'Kamran', 'Rashid']

In [26]:
list2

['Ali', 'Kamran', 'Rashid', 'Zahid']

In [27]:
list2 is list1

True

In [28]:
list3 is list2

False

In [29]:
list4 = [24, "Nadeem", "Kareem", "abc@gmail.com", 34]

In [30]:
myDict1 = {}

In [31]:
myDict = {
    "id":24,
    "fName":"Kareem",
    "lName":"Usman",
    "email":"abc@gmail.com",
    "age": 35
}

In [32]:
myDict1

{}

In [33]:
myDict

{'id': 24,
 'fName': 'Kareem',
 'lName': 'Usman',
 'email': 'abc@gmail.com',
 'age': 35}

In [34]:
myDict.keys()

dict_keys(['id', 'fName', 'lName', 'email', 'age'])

In [35]:
myDict.values()

dict_values([24, 'Kareem', 'Usman', 'abc@gmail.com', 35])

In [36]:
myDict["id"]

24

In [38]:
myDict["fname"]

KeyError: 'fname'

In [41]:
print(myDict.get("fname"))

None

In [42]:
myDict.get("ahttp://localhost:8888/notebooks/Untitled2.ipynb?kernel_name=python3#bc","Key not Found")

'Key not Found'

In [43]:
myDict2 = myDict.copy()
myDict2

{'id': 24,
 'fName': 'Kareem',
 'lName': 'Usman',
 'email': 'abc@gmail.com',
 'age': 35}

In [44]:
myDict2["fName"]="Nasir"
myDict2["lName"]="Hussain"
myDict2

{'id': 24,
 'fName': 'Nasir',
 'lName': 'Hussain',
 'email': 'abc@gmail.com',
 'age': 35}

In [45]:
myDict

{'id': 24,
 'fName': 'Kareem',
 'lName': 'Usman',
 'email': 'abc@gmail.com',
 'age': 35}

In [46]:
myDict2["skills"]=['python','Java','C++']
myDict2

{'id': 24,
 'fName': 'Nasir',
 'lName': 'Hussain',
 'email': 'abc@gmail.com',
 'age': 35,
 'skills': ['python', 'Java', 'C++']}

In [47]:
list5 = ['id','name','fatherName','mobile','email']
myDict7 = dict.fromkeys(list5)
myDict7

{'id': None, 'name': None, 'fatherName': None, 'mobile': None, 'email': None}

In [48]:
list6=[25,'Ali','Hussain','0345-8765432','xyz@hotmail.com']
print(list5)
print(list6)

['id', 'name', 'fatherName', 'mobile', 'email']
[25, 'Ali', 'Hussain', '0345-8765432', 'xyz@hotmail.com']

In [50]:
myDict11=dict(zip(list5,list6))
myDict11

{'id': 25,
 'name': 'Ali',
 'fatherName': 'Hussain',
 'mobile': '0345-8765432',
 'email': 'xyz@hotmail.com'}

# list of Dictionaries

In [51]:
lst=[]
chk=''
while chk.lower() != 'x':
    dict1 = {
        'id': input("Please enter ID: "),
        'name': input("Kindly enter Name: "),
        "marks":{'English':......,
                 'Science':......,
                 'Maths':........,
                }
        'hobbies': input("Please enter , seperated hobbies: ").split(",") # book reading
    }
    lst.append(dict1)
    chk = input("Enter x to exit and any other key to Continue: ")
lst

Please enter ID: 1
Kindly enter Name: Babar
Please enter skills: coding reporting
Enter x to exit and any other key to Continue:
Please enter ID: 2
Kindly enter Name: Bilal
Please enter skills: python C++
Enter x to exit and any other key to Continue:
Please enter ID: 3
Kindly enter Name: Nasir
Please enter skills: python Excel Word Jave C++
Enter x to exit and any other key to Continue: x

[{'id': '1', 'name': 'Babar', 'skills': ['coding', 'reporting']},
 {'id': '2', 'name': 'Bilal', 'skills': ['python', 'C++']},
 {'id': '3',
  'name': 'Nasir',
  'skills': ['python', 'Excel', 'Word', 'Jave', 'C++']}]